---
layout: layouts/default.vto
title: Home
heroBackgroundImage: cepro-illa-waterlilies.webp
benefitImage: cepro-illa-waterlilies-2.webp
benefitImageAlt: Cepro Illa Water Lilies
---

{{ include "components/hero.vto" }}
{{ include "components/about.vto" }}
{{ include "components/investor.vto" }}
{{ include "components/benefits.vto" }}
