---
layout: layouts/default.vto
title: Home
heroBackgroundImage: cepro-illa.webp
benefitImage: cepro-illa-2.webp
benefitImageAlt: Cepro Illa Hazelmead
---

{{ include "components/hero.vto" }}
{{ include "components/about.vto" }}
{{ include "components/investor.vto" }}
{{ include "components/benefits.vto" }}
