<!-- Hero Section - Start
================================================== -->
<section class="hero-section section-space" style="background-image: url('/assets/images/{{ heroBackgroundImage }}');">
  <div class="container">
    <div class="hero-image">
      <img src="/assets/images/site-logo.webp" alt="{{ title }}">
    </div>
  </div>
</section>
<!-- Hero Section - End
================================================== -->
