<div class="support-nav">
  <a href="/support/"{{ if currentPage == "support" }} class="active"{{ /if }}>Vulnerability Policy</a>
  <a href="/support/faq/"{{ if currentPage == "faq" }} class="active"{{ /if }}>FAQ</a>
  <a href="/support/energyadvice/"{{ if currentPage == "energyadvice" }} class="active"{{ /if }}>Energy Advice</a>
</div>
